/* .body{
    height: 1000px;
    background-color: #121212;
    padding: 2%;
} */



/* .textContainer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.heading{
    color: white;
    
  text-align: left;
} */

/* .collapse{
    color: #34C94B;
    cursor: pointer;
    text-decoration: none;
} */


.alb{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}