/* #search-bar{
  width: 568px;
} */

#button-addon2{
  width: 68px;
  background-color: white;
  height: 46px;

}
#button-addon2:hover{
  color: #34C94B;

}

#search-bar{
  width: 500px;
  /* border: none; */
  border-color: rgb(110,117,124);
  height: 46px;
}

.search{
margin-top: 2.5%;
}